* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FAF3E0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #B03A2E;
    font-size: 1.2rem;
    align-items: center;
}

header #logo {
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
}

header nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
}

header nav ul li a:hover {
    text-decoration: underline #6e241c;;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 100%;
    gap: 20px;
}

.titulo {
    font-size: 3rem;
    text-align: center;
}

#campoBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#banner {
    width: 100%;
    height: 60vh;
    border-radius: 20px;
}